<launch>

   <!-- Odometry -->
   <include file="$(find lidar_2d_demo)/launch/odom.launch" />

   <arg name="localization" default="false" />
   <arg name="rtabmap_args" default=""/> <!-- delete_db_on_start -->

   <node ns="/rtabmap/slam" name="lidar_slam" pkg="rtabmap_slam" type="rtabmap" output="screen" args="$(arg rtabmap_args)">
      <param name="frame_id" type="string" value="base_link"/>

      <param name="subscribe_rgb"   type="bool" value="false"/>
      <param name="subscribe_depth" type="bool" value="false"/>
      <param name="subscribe_rgbd"  type="bool" value="false"/>
      <param name="subscribe_scan"  type="bool" value="true"/>

      <!-- RTAB-Map's parameters -->
      <param name="Reg/Strategy"       type="string" value="1"/>    <!-- 0=Visual, 1=ICP, 2=Visual+ICP -->
      <param name="Reg/Force3DoF"      type="string" value="true"/>
      <!-- <param name="RGBD/ProximityBySpace"    type="string" value="true"/> -->
      <param name="Icp/CorrespondenceRatio"  type="string" value="0.2"/>
      <param name="Icp/VoxelSize"            type="string" value="0.05"/>

      <remap from="scan" to="/scan"/>
      <remap from="odom" to="/rtabmap/odom/odom"/>
      <!-- <param name="subscribe_odom_info" type="bool" value="true"/> -->

      <!-- localization mode -->
      <param     if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
      <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
      <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)"/>
   </node>

</launch>

